<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@chatapp" />
    <meta name="twitter:creator" content="@brynmrk" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/795233551373451264/5Dk2WreB.jpg" />
    <meta name="twitter:image:width" content="375">
    <meta name="twitter:image:height" content="375">
    <meta property="og:url" content="https://chat-app-rails5.herokuapp.com//" />
    <meta property="og:title" content="Chat App" />
    <meta property="og:description" content="Realtime chat app. Chat with your friends!" />
    <meta property="og:image" content="http://i.imgur.com/aLxzmUm.png" />
    <meta name="google-site-verification" content="yFtnYbX35FaGqsvCc-Q6KQeZ62EQ_xidLBhxK_qLZaY" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="content-wrapper col-xs-12">
        <div class="alert-messages col-xs-12">
          <%= render partial: 'shared/alert_messages' %>
        </div>
        <div class="content col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
